<a href="https://colab.research.google.com/github/happylazy/connect-220827/blob/main/scratchpad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
n = int(input())
for i in(range(n)):
    print(f"{' '*(n-i-1)}{'*'*(i+1)}")
        #    {'*'*(i+1)}')
    # print(f'*'*(i+1))
        #    ')
    # '*'*(i+1))

5
    *
   **
  ***
 ****
*****

In [71]:
import random
n,x = (input().split())

rdn =[]
for i in(range(int(n))):
    r = random.randint(1,10000)
    rdn.append(r)

while True:
    if min(rdn) >= int(x):
        rdn=[]
        for i in(range(int(n))):
            r = random.randint(1,10000)
            rdn.append(r)
            
    else:
        print (rdn)
        break

ans = ""
for i in(range(int(n))):
    if rdn[i] < int(x):
        ans = ans + str(rdn[i])
print(ans)

10 5
[4, 9173, 5697, 1775, 1456, 3120, 903, 573, 5394, 1970]
4

In [90]:
n,x = (input().split())
nums = (input().split())
nums2 =[]
for i in(range(int(n))):
    if int(nums[i]) < int(x):
        nums2.append(int(nums[i]))
print(*nums2)

5 3
5 4 1 2 3
1 2

In [104]:
lst = []
while True:
    inpt = input().split()
    hap = int(inpt[0]) + int(inpt[1])
    lst.append(hap)
    
    if int(inpt[0]) == 0 and int(inpt[1]) == 0:
        for i in range(len(lst)):
            print (lst[i])
        break

5 8
5 3
9 1
0 0
13
8
10

In [1]:
while True:
    try:
        a, b = map(int,input().split())
        print(a+b)
    except:
        break

1 2
3

In [24]:
n = input()
r = 1
nn = n
while True:
    
    if int(nn) < 10:
        n0 = 0              #십의 자리수
    else:   
        n0 = int(nn)//10    #십의 자리수

    n1 = int(nn)%10     #일의 자리수

    n01 = n0 + n1       #십의 자리수와 일의 자리수의 숫자를 더한 값

    nn = str(n1) + str(n01%10)      #새로운 숫자를 문자열로 표현함
    #print (nn)
    if n1 == 0:
        nn = str(n01%10)

    if n == nn:
        print (r,"!")
        break
    else:
    #    print (r)
        r = r + 1

0
1 !